<section class="content">
    <div class="title">
    <h1 id="E">E</h1> <h1 class="pageHead">at Da Burger!!</h1>
</div>
<img src="/assets/images/fat.png" class="card-img-top" alt="...">


    {{!-- ///////ADDING/////// --}}
    
<form class="create-form">
    {{!-- <h2>Add a Burger</h2> --}}

    <div class="form-group">
    <input type="text" placeholder="    Burger Name" id="ca" name="name">
        <button type="submit">Add</button>
    </div>
</form>

{{!-- ///////Left/////// --}}
             
<div class="down">
    <div class="burgerListsSectionOrder">
        <div class="eachLeft">
            <ul class="burgerListOrder">
                {{#each burgers}}
                {{#unless devoured}}

                <div class="burgerItemNumber">
                    <span>#{{id}}</span>
                </div>
                <div class="green">
                </div>
                <div class="red">
                </div>
                <div class="white">
                </div>
                <div class="burgerItemDevour">
                    <span>{{burger_name}}</span>
                </div>
                <div class="k-m">
                </div>
                <button class="devourButton" value = {{id}}>
                    Devour!
                </button>
                <br>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        </div>

    {{!-- ///////Right/////// --}}

    <div class="burgerListsSectionFinish">

        <div class="eachRight">

        <ul class="burgerListOrder">
            
            {{#each burgers}}
            {{#if devoured}}
                    <div class="burgerItemNumber">
                <span>#{{id}}</span>
            </div>
            <div class="green">
            </div>
            <div class="red">
            </div>
            <div class="white">
            </div>
            <div class="burgerItemFinish">
                <span>{{burger_name}}</span>
            </div>
            <div class="k-m">
            </div>
            <div class="devourButton">
                <i class="far fa-check-circle"></i>
            </div>
            <br>
            {{/if}}
            {{/each}}
        </ul>
            </div>

    </div>
</div>

</section>